<!DOCTYPE html>
<html lang="es">
	<head>
		<% include ../../partials/backend/head_backend %>
		<link rel="stylesheet" href="/static/css/src/index_b.css">
	</head>

	<body>
		<% include ../../partials/backend/sidemenu_backend %>

		<main class="grey lighten-3">
			<!-- Nav -->
			<% include ../../partials/backend/header_backend %>

			<div class="container">
				<div class="row content_start">
					<ul id="principal_links">

						<li class="col s12 m6">
							<a class="waves-effect waves-light z-depth-1" href="/backend/patients/">
								<i class="fa fa-user" aria-hidden="true"></i>
								<span>Pacientes</span>
							</a>
						</li>
						<li class="col s12 m6">
							<a class="waves-effect waves-light z-depth-1" href="/backend/foods/">
								<i class="fa fa-cutlery" aria-hidden="true"></i>
								<span>Alimentos</span>
							</a>
						</li>
						<li class="col s12 m6">
							<a class="waves-effect waves-light z-depth-1" href="/backend/rda/">
								<i class="fa fa-table" aria-hidden="true"></i>
								<span>Tablas de cantidades recomendadas</span>
							</a>
						</li>
						<li class="col s12 m6">
							<a class="waves-effect waves-light z-depth-1" href="/backend/activityLogs/">
								<i class="fa fa-history" aria-hidden="true"></i>
								<span>Histórico</span>
							</a>
						</li>
						<% if(parseInt(user.SUPER_ADMIN)) { %>
							<li class="col s12 offset-m3 m6">
								<a class="waves-effect waves-light z-depth-1" href="/backend/users/">
									<i class="fa fa-user-md" aria-hidden="true"></i>
									<span>Nutricionistas</span>
								</a>
							</li>
						<% } %>
					</ul>
				</div>
			</div>
		</main>

		<% include ../../partials/backend/footer_backend %>

		<% include ../../partials/backend/script_backend %>
		<% include ../../partials/backend/server_messages %>

		<script>
            $(window).on("load", function (e) {
                setTimeout(function() {
                    Materialize.toast('<span>¡Bienvenido '+ $("#username").text()+'!</span>', 5000);
                }, 500);

            });
		</script>
	</body>
</html>
