<div id="edit_rda" class="modal modal_material modal-fixed-footer">
	<div class="modal-header z-depth-1">
		<h4>Editar tabla</h4>
		<span><i class="modal_close modal-action modal-close material-icons right">close</i></span>
	</div>
	<form id="edit_rda_form" class="col s12 row" method="post" action="/backend/rda/edit/" enctype="multipart/form-data" autocomplete="off">
		<div class="modal-content">
			<h5 class="center-align" style="margin: 20px!important;">Datos de la tabla:</h5>

			<input id="edit_id_rda" type="hidden" name="edit_id_rda" />
			<!-- Nombre -->
			<div class="input-field col s12">
				<input id="edit_name_rda" name="edit_name_rda" type="text" class="validate" required>
				<label for="edit_name_rda">Nombre de la tabla</label>
			</div>


			<!-- Edad mínima -->
			<div class="input-field col s12 m6">
				<input id="edit_min_age_range_rda" name="edit_min_age_range_rda" type="number" step="0.001" value="0.000" class="validate" required>
				<label for="edit_min_age_range_rda">Edad mínima</label>
			</div>

			<!-- Edad máxima -->
			<div class="input-field col s12 m6">
				<input id="edit_max_age_range_rda" name="edit_max_age_range_rda" type="number" step="0.001" value="0.000" class="validate" required>
				<label for="edit_max_age_range_rda">Edad máxima</label>
			</div>

			<div class="row m12">
				<!-- activity level -->
				<div class="input-field col s12 m6">
					<p class="red-text text-darken-1">Nivel de actividad</p>
					<!-- Confirmacion -->
					<p><input name="edit_activity_level_rda" type="radio" id="edit_activity_level_rda_1" value="0" checked /><label for="edit_activity_level_rda_1">Sedentario</label></p>
					<p><input name="edit_activity_level_rda" type="radio" id="edit_activity_level_rda_2" value="1"  /><label for="edit_activity_level_rda_2">Moderada</label></p>
					<p><input name="edit_activity_level_rda" type="radio" id="edit_activity_level_rda_3" value="2"  /><label for="edit_activity_level_rda_3">Intensa</label></p>
					<p><input name="edit_activity_level_rda" type="radio" id="edit_activity_level_rda_4" value="3"   /><label for="edit_activity_level_rda_4">Muy ntensa</label></p>
				</div>

				<!-- Gender -->
				<div class="input-field col s12 m6">
					<p class="red-text text-darken-1">Sexo</p>
					<!-- Confirmacion -->
					<p><input name="edit_gender_rda" type="radio" id="edit_rda_male" value="0" checked /><label for="edit_rda_male">Hombre</label></p>
					<p><input name="edit_gender_rda" type="radio" id="edit_rda_female" value="1"  /><label for="edit_rda_female">Mujer</label></p>
				</div>
			</div>



			<h5 class="center-align" style="margin: 20px!important;">Datos diarios recomendados:</h5>

			<!-- KCAL -->
			<div class="input-field col s12 m12">
				<input id="edit_kcal_table" name="edit_kcal_table" type="number" step="0.001" value="0.000" class="validate" required>
				<label for="edit_kcal_table">Kcalorias</label>
			</div>

			<!-- Proteinas -->
			<div class="input-field col s12 m6">
				<input id="edit_proteins_table" name="edit_proteins_table" type="number" step="0.001" value="0.000" class="validate" required>
				<label for="edit_proteins_table">Proteinas</label>
			</div>

			<!-- Proteinas % -->
			<div class="input-field col s12 m6">
				<input id="edit_percentage_proteins_table" name="edit_percentage_proteins_table" type="number" step="0.001" value="0.000" class="validate" required>
				<label for="edit_percentage_proteins_table">Proteinas %</label>
			</div>

			<!-- Lipidos -->
			<div class="input-field col s12 m6">
				<input id="edit_lipids_table" name="edit_lipids_table" type="number" step="0.001" value="0.000" class="validate" required>
				<label for="edit_lipids_table">Lípidos</label>
			</div>

			<!-- Lipidos % -->
			<div class="input-field col s12 m6">
				<input id="edit_percentage_lipids_table" name="edit_percentage_lipids_table" type="number" step="0.001" value="0.000" class="validate" required>
				<label for="edit_percentage_lipids_table">Lípidos %</label>
			</div>

			<!-- Hidratos -->
			<div class="input-field col s12 m6">
				<input id="edit_carbon_hydrates_table" name="edit_carbon_hydrates_table" type="number" step="0.001" value="0.000" class="validate" required>
				<label for="edit_carbon_hydrates_table">Hidratos de carbono</label>
			</div>

			<!-- percentage_carbon_hydrates -->
			<div class="input-field col s12 m6">
				<input id="edit_percentage_carbon_hydrates_table" name="edit_percentage_carbon_hydrates_table" type="number" step="0.001" value="0.000" class="validate" required>
				<label for="edit_percentage_carbon_hydrates_table">Hidratos de carbono %</label>
			</div>

			<h5 class="center-align" style="margin: 20px!important;">Vitaminas:</h5>
			<!-- V_A -->
			<div class="input-field col s12 m6">
				<input id="edit_v_a_table" name="edit_v_a_table" type="number" step="0.001" value="0.000" class="validate" required>
				<label for="edit_v_a_table">Vitamina A</label>
			</div>

			<!-- V_C -->
			<div class="input-field col s12 m6">
				<input id="edit_v_c_table" name="edit_v_c_table" type="number" step="0.001" value="0.000" class="validate" required>
				<label for="edit_v_c_table">Vitamina C</label>
			</div>

			<!-- v_D -->
			<div class="input-field col s12 m6">
				<input id="edit_v_d_table" name="edit_v_d_table" type="number" step="0.001" value="0.000" class="validate" required>
				<label for="edit_v_d_table">Vitamina D</label>
			</div>

			<!-- V_E -->
			<div class="input-field col s12 m6">
				<input id="edit_v_e_table" name="edit_v_e_table" type="number" step="0.001" value="0.000" class="validate" required>
				<label for="edit_v_e_table">Vitamina E</label>
			</div>

			<h5 class="center-align" style="margin: 20px!important;">Minerales:</h5>
			<!-- Calcio -->
			<div class="input-field col s12 m6">
				<input id="edit_calcium_table" name="edit_calcium_table" type="number" step="0.001" value="0.000" class="validate" required>
				<label for="edit_calcium_table">Calcio</label>
			</div>

			<!-- Hierro -->
			<div class="input-field col s12 m6">
				<input id="edit_iron_table" name="edit_iron_table" type="number" step="0.001" value="0.000" class="validate" required>
				<label for="edit_iron_table">Hierro</label>
			</div>

			<!-- Magnesio -->
			<div class="input-field col s12 m6">
				<input id="edit_magnesium_table" name="edit_magnesium_table" type="number" step="0.001" value="0.000" class="validate" required>
				<label for="edit_magnesium_table">Magnesio</label>
			</div>

			<!-- Potasio -->
			<div class="input-field col s12 m6">
				<input id="edit_potassium_table" name="edit_potassium_table" type="number" step="0.001" value="0.000" class="validate" required>
				<label for="edit_potassium_table">Potasio</label>
			</div>

			<!-- Fósforo -->
			<div class="input-field col s12 m6">
				<input id="edit_phosphorus_table" name="edit_phosphorus_table" type="number" step="0.001" value="0.000" class="validate" required>
				<label for="edit_phosphorus_table">Fósforo</label>
			</div>

			<!-- Sodio -->
			<div class="input-field col s12 m6">
				<input id="edit_sodium_table" name="edit_sodium_table" type="number" step="0.001" value="0.000" class="validate" required>
				<label for="edit_sodium_table">Sodio</label>
			</div>

			<h5 class="center-align" style="margin: 20px!important;">Ácidos:</h5>
			<!-- Colesterol -->
			<div class="input-field col s12 m6">
				<input id="edit_cholesterol_table" name="edit_cholesterol_table" type="number" step="0.001" value="0.000" class="validate" required>
				<label for="edit_cholesterol_table">Colesterol</label>
			</div>

			<!-- Saturadas -->
			<div class="input-field col s12 m6">
				<input id="edit_saturated_table" name="edit_saturated_table" type="number" step="0.001" value="0.000" class="validate" required>
				<label for="edit_saturated_table">G.Saturadas</label>
			</div>



		</div>
		<div class="modal-footer">
			<!-- Submit -->
			<div class="input field col s12 center-align submit_modal">
				<button class="btn waves-effect waves-light" type="submit" name="edit_submit_rda">
					<span>Enviar</span>
					<i class="material-icons right">send</i>
				</button>
			</div>
		</div>
	</form>
</div>
