<div id="add_event" class="modal modal_material modal-fixed-footer">
	<div class="modal-header z-depth-1">
		<h4>Añadir evento al calendario del paciente</h4>
		<span><i class="modal_close modal-action modal-close material-icons right">close</i></span>
	</div>
	<div class="modal-content" style="overflow-y: scroll;">

		<div id="profile-page-wall-share" class="row">
			<div class="col s12">
				<ul class="tabs tab-profile z-depth-1 light-blue" style="width: 100%;">
					<li class="tab col s3" style="width: 33.3333%;"><a class="white-text waves-effect waves-light active" href="#Registro">Registro comida</a>
					</li>
					<li class="tab col s3" style="width: 33.3333%;"><a class="white-text waves-effect waves-light" href="#Objetivo"> Objetivo</a>
					</li>
					<div class="indicator" style="right: 817px; left: 0px;"></div></ul>
				<!-- Registro-->
				<div id="Registro" class="tab-content col s12  grey lighten-4">
					<div class="row center-align">
						<div style="margin-top: 20px!important;" class="col s12">
							<h5 class="">Añadir registro de comida</h5>
						</div>


					</div>

					<form class="formValidate" id="formValidate">

						<div class="input-field row ">

							<p class="col s12 m3 center-align">Horario de la ingesta:</p>
							<select id="selecthorario" class="col s12 m2">
								<option value="" disabled selected>Elige el horario</option>
								<option value="1">Desayuno</option>
								<option value="2">Almuerzo</option>
								<option value="3">Merienda</option>
								<option value="4">Cena</option>
								<option value="5">Otro</option>
							</select>

							<p class="col s12 offset-m1 m3 center-align">Fecha de la ingesta:</p>
							<input id="datepick" type="text" class=" col m2 s12 datepicker ">

						</div>

						<div class="row">
							<div class="input-field col s12">
								<i class="material-icons prefix">search</i>
								<input type="text" id="autocompleteinput" autocomplete="off" class="autocomplete validate">
								<label for="autocompleteinput">Buscar alimento:</label>

							</div>
						</div>
						<div class="row">
							<ul id="acordeon" class="collapsible" data-collapsible="accordion">
								<li>
									<div class="collapsible-header"><i class="material-icons">restaurant</i><p style="margin: 0" id="name_food"></p></div>
									<div class="collapsible-body center-align">
										<div style="display: none" id="content-food-registry">

											<div class="row">
												<p class="col s12 m6">Glúcidos:</p><p class="col s12 m6" id="food_gluc">25g</p>
											</div>
											<div class="row">
												<p class="col s12 m6">Proteinas:</p><p class="col s12 m6" id="food_prot">12g</p>
											</div>
											<div class="row">
												<p class="col s12 m6">Lípidos:</p><p class="col s12 m6" id="food_lipids">7g</p>
											</div>

											<h6>*Medidas cada 100g</h6>

										</div>

										<h6 id="error-food">No se ha seleccionado ninguna comida.</h6>



									</div>
								</li>
							</ul>
						</div>

						<div class="row center-align">
							<a class="col s12 offset-m5 m2 waves-effect waves-light btn" type="submit" name="action" id="botonEv">Añadir registro</a>
						</div>


					</form>

				</div>

				<!-- AddPhotos -->
				<div id="Objetivo" class="tab-content col s12  grey lighten-4" style="display: none;">
					<div class="row center-align">
						<div style="margin-top: 20px!important;" class="col s12">
							<h5 class="">Añadir objetivo</h5>

							<h2>Trabajando en ello.</h2>
							<h5>En breve se terminará de crear esta sección de la web.</h5>
						</div>


					</div>

				</div>
			</div>

		</div>



	</div>
</div>
