<div id="add_patient" class="modal modal_material modal-fixed-footer">
	<div class="modal-header z-depth-1">
		<h4>Añadir un nuevo paciente</h4>
		<span><i class="modal_close modal-action modal-close material-icons right">close</i></span>
	</div>
	<form class="col s12 row" method="post" action="/backend/patients/add/" enctype="multipart/form-data" autocomplete="off">
		<div class="modal-content">
			<!-- Email -->
			<div class="input-field col s12">
				<input id="add_email_patient" name="add_email_patient" type="email" class="validate" required>
				<label for="add_email_patient">Correo electrónico</label>
			</div>

			<!-- Password -->
			<div class="input-field col s12">
				<input id="add_password_patient" name="add_password_patient" type="password" class="validate" required>
				<label for="add_password_patient">Contraseña</label>
			</div>

			<!-- Name -->
			<div class="input-field col s12 m6">
				<input id="add_name_patient" name="add_name_patient" type="text" class="validate" required>
				<label for="add_name_patient">Nombre</label>
			</div>

			<!-- Surname -->
			<div class="input-field col s12 m6">
				<input id="add_surname_patient" name="add_surname_patient" type="text" class="validate" required>
				<label for="add_surname_patient">Apellidos</label>
			</div>

			<!-- Admin -->
			<div class="input-field col s12">
				<p class="red-text text-darken-1">¿Usuario administrador?</p>
				<!-- Confirmacion -->
				<p><input name="add_admin_patient" type="radio" id="add_admin_yes" value="1" /><label for="add_admin_yes">Sí</label></p>
				<p><input name="add_admin_patient" type="radio" id="add_admin_no" value="0" checked /><label for="add_admin_no">No</label></p>
			</div>



		</div>
		<div class="modal-footer">
			<!-- Submit -->
			<div class="input field col s12 center-align submit_modal">
				<button class="btn waves-effect waves-light" type="submit" name="add_submit_patient">
					<span>Enviar</span>
					<i class="material-icons right">send</i>
				</button>
			</div>
		</div>
	</form>
</div>
