<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sasu.asistente_nutricional_tfg_2017">

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icono_inicio"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar"
        tools:replace="android:icon,android:theme">
        <meta-data
            android:name="DATABASE"
            android:value="asistente14.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.example.sasu.asistente_nutricional_tfg_2017" />

        <activity
            android:name=".screens.Activity_LogIn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.Main_Menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.ActivitySplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.Main_menu2"
            android:label="Asistente nutricional"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".screens.registrarComida"
            android:label="@string/title_activity_registrar_comida"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".screens.registrarComidaTab"
            android:label="@string/title_activity_registrar_comida_tab"
            android:theme="@style/NoActionBar"></activity>
    </application>

</manifest>